:root {
  --accent-color: #2196f3;
  --main-text-color: #212121;
  --secondary-text-color: #757575;
  --main-font: "Roboto", sans-serif;
  --secondary-font: "Raleway", sans-serif;
  --main-background-color: #ffffff;
  --secondary-background-color: #f5f4fa;
  --dark-background-color: #2f303a;
  --gap: 30px;
}

html {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: var(--main-font);
  color: var(--main-text-color);
  background-color: var(--main-background-color);
}

header,
footer,
section {
  display: none;
}

.blok {
  display: block;
}

a {
  text-decoration: none;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
p {
  padding-top: 0;
  padding-bottom: 0;
  margin-top: 0;
  margin-bottom: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
  margin: -1px;
}

.container {
  padding-left: 15px;
  padding-right: 15px;
}
@media screen and (min-width: 480px) {
  .container {
    width: 480px;
    margin: 0 auto;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}
.section--no-top-padding {
  padding-top: 0;
  display: none;
}
@media screen and (min-width: 768px) {
  .section--no-top-padding {
    display: block;
  }
}
.section--team {
  background-color: var(--secondary-background-color);
}

.section__title {
  margin: 0 0 50px 0;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
}

.page-header {
  border-bottom: 1px solid rgba(75, 75, 75, 0.1);
}

.container__page-header--box {
  display: flex;
  align-items: center;
  flex-direction: row;
  flex-wrap: nowrap;
}

.navigation {
  display: flex;
  align-items: center;
}

.site-nav {
  display: flex;
  align-items: center;
  margin-left: 93px;
}

.site-nav__item {
  margin-right: 50px;
}
.site-nav__item:last-child {
  margin-right: 0;
}

.site-nav__link {
  display: flex;
  padding-top: 24px;
  padding-bottom: 25px;
  font-family: var(--main-font);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--main-text-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.site-nav__link:hover, .site-nav__link:focus {
  color: var(--accent-color);
}

.site-nav__link--current {
  position: relative;
  color: var(--accent-color);
}
.site-nav__link--current::after {
  position: absolute;
  bottom: -1px;
  content: "";
  display: block;
  width: 100%;
  height: 4px;
  padding: 0 1.5px;
  border-radius: 2px;
  background-color: var(--accent-color);
}

.contacts {
  display: flex;
  margin-left: auto;
}
.contacts .contacts__item + .contacts__item {
  margin-left: 30px;
}

.contacts__link {
  display: flex;
  align-items: center;
  padding-bottom: 32px 0;
  font-family: var(--main-font);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--secondary-text-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.contacts__link:hover, .contacts__link:focus {
  color: var(--accent-color);
}

.contacts__icon {
  margin-right: 10px;
  fill: currentColor;
}

.logo {
  display: block;
  font-family: var(--secondary-font);
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--accent-color);
}

.logo__black {
  color: #000000;
}

.logo__white {
  color: #ffffff;
}

.hero {
  max-width: 1600px;
  height: 400px;
  margin: 0 auto;
  padding: 118px 0;
  background-color: var(--dark-background-color);
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/Header.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  text-align: center;
}
@media screen and (min-width: 1200px) {
  .hero {
    width: 1600px;
    height: 600px;
    padding: 200px 0;
  }
}

.hero__title {
  margin-top: 0;
  font-weight: 900;
  font-size: 26px;
  line-height: 1.62;
  text-transform: uppercase;
  color: #ffffff;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  text-align: center;
  letter-spacing: 0.06em;
  margin-bottom: 30px;
}
@media screen and (min-width: 1200px) {
  .hero__title {
    font-size: 44px;
    line-height: 1.36;
  }
}

.button {
  border: transparent;
  border-radius: 4px;
  padding: 10px 32px;
  margin-right: auto;
  margin-left: auto;
  min-width: 200px;
  text-align: center;
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  display: inline-block;
  letter-spacing: 0.06em;
  color: #ffffff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  background-color: var(--accent-color);
  cursor: pointer;
}

.buttons--group {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  margin-bottom: 50px;
}
.buttons--group:not(:last-child) {
  margin-right: 8px;
}

.buttons {
  border: transparent;
  border-radius: 4px;
  padding: 6px 22px;
  font-family: var(--main-font);
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  cursor: pointer;
  background-color: var(--secondary-background-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.buttons:hover, .buttons:focus {
  color: #ffffff;
  background-color: var(--accent-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.buttons__item:not(:last-child) {
  margin-right: 8px;
}

.backdrop {
  position: fixed;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.1254901961);
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0.5);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  width: 528px;
  height: 581px;
  background-color: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  padding: 40px;
}

.close__button {
  position: absolute;
  width: 30px;
  height: 30px;
  top: 8px;
  right: 8px;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  border-color: rgba(0, 0, 0, 0.062745098);
  background: #ffffff;
  cursor: pointer;
}

.modal__title {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  letter-spacing: 0.03em;
  color: var(--main-text-color);
  margin-bottom: 12px;
  text-align: center;
}

.form__field {
  width: 100%;
  height: 58px;
  margin-bottom: 10px;
}

.form__input {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding-left: 42px;
  font-weight: 400;
  font-size: 16px;
  cursor: pointer;
}
.form__input:focus {
  outline-color: #2196f3;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.input__title {
  display: block;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: #757575;
  margin-bottom: 4px;
}

.input__wrap {
  position: relative;
}

.modal__comment {
  width: 100%;
  height: 120px;
  padding: 12px 16px;
  margin-bottom: 20px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding-left: 12px;
  font-weight: 400;
  font-size: 16px;
  color: #000000;
  resize: none;
  cursor: pointer;
}
.modal__comment:focus {
  outline-color: #2196f3;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__icon {
  position: absolute;
  top: 50%;
  left: 12px;
  transform: translateY(-50%);
}
.form__input:focus + .modal__icon {
  fill: var(--accent-color);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.checkbox__title {
  display: flex;
  align-items: center;
  justify-content: center;
}

.checkbox__field {
  margin-bottom: 30px;
  align-self: center;
}

.check__text {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 16px;
  height: 15px;
  border: 2px solid #212121;
  border-radius: 3px;
  background-origin: border-box;
  margin-right: 7px;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.input__check:checked + .check__text {
  background-color: var(--accent-color);
  background-size: contain;
  background-origin: border-box;
  background-position: center;
  border-color: var(--accent-color);
}

.check__icon {
  display: inline-block;
  fill: #ffffff;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.input__check:checked {
  background-color: var(--accent-color);
}

.policy__text {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #757575;
}

.policy__link {
  letter-spacing: 0.03em;
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
  color: var(--accent-color);
}

.button__modal--btn {
  display: block;
  align-items: center;
  padding: 10px 52px;
}

.features {
  display: flex;
  flex-direction: column;
  gap: var(--gap);
}
@media screen and (min-width: 768px) {
  .features {
    flex-direction: row;
    flex-wrap: wrap;
  }
}

@media screen and (min-width: 768px) {
  .features__item {
    flex-basis: calc((100% - 1 * var(--gap)) / 2);
  }
}
@media screen and (min-width: 1200px) {
  .features__item {
    flex-basis: calc((100% - 3 * var(--gap)) / 4);
  }
}

.features__bacground {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 120px;
  margin-bottom: 30px;
  background-color: #f5f4fa;
  border-radius: 4px;
}

.features__title {
  margin-top: 0;
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
@media screen and (max-width: 767px) {
  .features__title {
    text-align: center;
  }
}

.features__description {
  margin-top: 0;
  margin-bottom: 0;
  color: var(--secondary-text-color);
}

.features__description,
.address__list,
.footer__contacts {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

.works {
  display: flex;
}

.works__item:not(:last-child) {
  margin-right: 30px;
}

.works__link {
  position: relative;
  width: 370px;
  height: 294px;
}

.works__description {
  position: absolute;
  bottom: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 70px;
  background: rgba(47, 48, 58, 0.8);
}

.works__title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
}

.team {
  display: flex;
}

.team__item {
  background: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
.team__item:not(:last-child) {
  margin-right: 30px;
}

.team__data {
  padding: 30px 0;
}

.team__title {
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
}

.team__text {
  margin-top: 0;
  margin-bottom: 16px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
}

/* icons */
.soc {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.soc__link {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.soc__link:hover, .soc__link:focus {
  background-color: var(--accent-color);
}

.soc__icon {
  fill: #afb1b8;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.soc__link:hover .soc__icon, .soc__link:focus .soc__icon {
  fill: #ffffff;
}

.customers {
  display: flex;
  flex-wrap: wrap;
  gap: var(--gap);
}

.customers__item {
  height: 92px;
  flex-basis: calc((100% - 1 * var(--gap)) / 2);
}
@media screen and (min-width: 768px) {
  .customers__item {
    flex-basis: calc((100% - 2 * var(--gap)) / 3);
  }
}
@media screen and (min-width: 1200px) {
  .customers__item {
    flex-basis: calc((100% - 5 * var(--gap)) / 6);
  }
}

.customers__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  color: #afb1b8;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.customers__link:hover, .customers__link:focus {
  border: 1px solid var(--accent-color);
  color: var(--accent-color);
}

.customers__icon {
  fill: currentColor;
}

.footer__site {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: var(--dark-background-color);
}

.container__footer--wrap {
  display: flex;
  align-items: baseline;
}

.information {
  width: 231px;
  height: 132px;
  margin-right: 70px;
}

.address__inform {
  margin-top: 20px;
}

.address__item:not(:last-child) {
  margin-bottom: 9px;
}

.address__list,
.footer__contacts {
  font-style: normal;
  text-decoration: none;
}

.address__map {
  color: #ffffff;
}

.footer__contacts {
  color: rgba(255, 255, 255, 0.6);
}

/* Join */
.join__title,
.mailing__title {
  margin-bottom: 20px;
  color: #ffffff;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.join__soc {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.join__soc--link {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.062745098);
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.join__soc--link:hover, .join__soc--link:focus {
  background-color: var(--accent-color);
}

.join__soc--icon {
  width: 20px;
  height: 20px;
  fill: #ffffff;
}

.mailing__form {
  width: 570px;
  height: 86px;
  margin-left: 93px;
}

.mailing__title {
  display: block;
}

.mailing__form input:placeholder {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.mailing__address {
  width: 352px;
  height: 50px;
  padding-left: 16px;
  color: #ffffff;
  background-color: var(--dark-background-color);
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
}

.button__mail {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding-left: 28px;
  padding-right: 28px;
  margin-left: 12px;
}

.mailing__icon {
  margin-left: 10px;
}

.progects {
  display: flex;
  flex-wrap: wrap;
}

.progects__elements {
  width: 370px;
  margin-right: 30px;
  margin-bottom: 30px;
}
.progects__elements:nth-child(3n) {
  margin-right: 0;
}
.progects__elements:nth-last-child(-n+3) {
  margin-bottom: 0;
}

.progects__link {
  display: block;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.progects__link:hover, .progects__link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.photo__wrap {
  position: relative;
  overflow: hidden;
  width: 370px;
  height: 294px;
}

.progects__text--wrap {
  display: flex;
  position: absolute;
  top: 0.3px;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  width: 370px;
  height: 294px;
  background: rgba(33, 150, 243, 0.9);
}
.progects__link:hover .progects__text--wrap, .progects__link:focus .progects__text--wrap {
  transform: translateY(0);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.progects__text {
  display: flex;
  align-items: center;
  margin: 0 24px;
  text-decoration: none;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  color: #ffffff;
  overflow: auto;
}

.solution {
  padding: 20px 24px;
  background: #ffffff;
  border: 1px solid #eeeeee;
}

.projects__title {
  color: var(--main-text-color);
  margin-bottom: 4px;
  margin-top: 0;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.progects__description {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
}/*# sourceMappingURL=main.css.map */