:root {
  --accent-color: #2196f3;
  --main-text-color: #212121;
  --secondary-text-color: #757575;
  --main-font: 'Roboto', sans-serif;
  --secondary-font: 'Raleway', sans-serif;
  --main-background-color: #ffffff;
  --secondary-background-color: #eeeeee;
  --dark-background-color: #2f303a;
}
html {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}
body {
  margin: 0;
  font-family: var(--main-font);
  color: var(--main-text-color);
  background-color: var(--main-background-color);
}
a {
  text-decoration: none;
  margin: 0;
  padding: 0;
}
h1,
h2,
h3,
h4,
h5,
p {
  padding-top: 0;
  padding-bottom: 0;
}
ul {
  margin: 0;
  padding: 0;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
.list {
  padding: 0;
  margin: 0;
  list-style: none;
}

/* conteiner */
.container {
  width: 1200px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
  /* outline: 2px solid black; */
}

/* site nav */
/* todo біда з лого, підкажіть будь ласк що роблю не так (невбиваємий марджин перекидує все інше в інший рядок)*/

.page-header .container {
  display: flex;
  align-items: center;
}
.site-nav {
  display: flex;
}
.site-nav .item {
  margin-right: 50px;
  /* background-color: burlywood; */
}
.site-nav .item:last-child {
  margin-right: 0;
}

.site-nav-link {
  display: block;
  padding-top: 24px;
  padding-bottom: 25px;
  font-family: var(--main-font);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--main-text-color);
}

.site-nav-link:hover,
.site-nav-link:focus {
  color: var(--accent-color);
}
.site-nav-link .current {
  color: var(--accent-color);
}
/* logo */
.logo {
  display: flex;
  margin-right: 93px;
  max-width: 145px;
  font-family: var(--secondary-font);
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.92;
  letter-spacing: 0.03em;
  color: var(--accent-color);
}
.logo-black {
  color: #000000;
}
.logo-white {
  color: #ffffff;
}

/* Contacts */
.contacts {
  display: flex;
  margin-left: auto;
}
.contacts .item + .item {
  margin-left: 50px;
}

.contacts-link {
  padding-bottom: 32px;
  font-family: var(--main-font);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--secondary-text-color);
}

.contacts-link {
  text-decoration: none;
}

.contacts-link:hover,
.contacts-link:focus {
  color: var(--accent-color);
}
/* main */
.main-hero {
  padding: 94px;
  background-color: var(--dark-background-color);
  text-align: center;
}
.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}
.main-title {
  margin-top: 0;
  margin-bottom: 30px;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #ffffff;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
/* Button */
.button {
  border-radius: 4px;
  padding: 10px 32px;
  margin-right: auto;
  margin-left: auto;
  min-width: 200px;
  text-align: center;
  font-family: var(--main-font);
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  display: inline-block;
  letter-spacing: 0.06em;
  color: #ffffff;
  background-color: var(--accent-color);
  cursor: pointer;
}
/* Features section*/
.section {
  padding-top: 94px;
  padding-bottom: 94px;
}
.section.no-top-padding {
  padding-top: 0;
}
.features.list {
  display: flex;
  flex-wrap: nowrap;
}
.features.list .item {
  width: 270px;
  /* background-color: coral; */
  margin-right: 30px;
}
.features.list .item:last-child {
  margin-right: 0;
}
.title-list {
  padding-bottom: 50px;
  margin-top: 0;
  margin-bottom: 0;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
}
.feautures-title {
  margin-top: 0;
  margin-bottom: 10;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.features-description {
  margin-top: 0;
  margin-bottom: 0;
  color: var(--secondary-text-color);
}
.features-description,
.address,
.footer-contacts {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}
/* Whot  they do */
.work.list {
  display: flex;
}
.performance:not(:last-child) {
  margin-right: 30px;
}

/* Team section */
.section.team {
  padding-top: 94px;
  padding-bottom: 94px;
  background-color: var(--secondary-background-color);
}
.team.list {
  display: flex;
}
.team-item:not(:last-child) {
  margin-right: 30px;
}

.team {
  padding-top: 30px;
  padding-bottom: 10px;
  margin-top: 0;
  margin-bottom: 0;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
}
.team-position {
  padding-bottom: 30px;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
}
.data-team {
  outline: 1px solid rgba(75, 75, 75, 0.1);
  border-radius: 4px;
  height: 108px;
  width: 270px;
  text-align: center;
}
/* Footer section*/
.footer-site {
  background-color: var(--dark-background-color);
}
.address,
.footer-contacts {
  font-style: normal;
  text-decoration: none;
}
.address {
  color: #ffffff;
}
.address.list {
  padding-top: 20px;
  padding-bottom: 60px;
}
.footer-contacts {
  color: rgba(255, 255, 255, 0.6);
}

/* Page Portfolio special*/
.list.buttons {
  display: flex;
  justify-content: center;
  padding-bottom: 50px;
}
.buttons {
  margin-left: 8px;
  border-radius: 4px;
  padding: 6px 22px;
  font-family: var(--main-font);
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  cursor: pointer;
}

.buttons:hover,
.buttons:focus {
  color: #ffffff;
  background-color: var(--accent-color);
}
/* Projects */
.progects.list {
  display: flex;
  flex-wrap: wrap;
  /* background-color: rgb(180, 215, 215); */
}
.progects .elements {
  width: 370px;
  margin-right: 30px;
  margin-bottom: 30px;
}
.progects .elements:nth-child(3n) {
  margin-right: 0;
}
.progects .elements:nth-last-child(-n + 3) {
  margin-bottom: 0;
}

.projects-title {
  padding-top: 20px;
  padding-bottom: 4px;
  margin-top: 0;
  margin-bottom: 0;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}
.progects-description {
  padding-bottom: 20px;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
}
