.section {
  padding-top: 60px;
  padding-bottom: 60px;
  @include desktop {
    padding-top: 94px;
    padding-bottom: 94px;
  }
  &--no-top-padding {
    padding-top: 0;
    display: none;
    @include desktop {
      display: block;
    }
  }
  &--team {
    background-color: var(--secondary-background-color);
  }
}

.section__title {
  margin: 0 0 30px 0;
  font-weight: 700;
  font-size: 28px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  @include desktop {
    margin: 0 0 50px 0;
    font-size: 36px;
  }
}
