html {
  box-sizing: border-box;
}
body {
  margin: 0;
  font-family: var(--main-font);
  color: var(--main-text-color);
  background-color: var(--main-background-color);
}
header,
footer,
section {
  display: none;
}
.blok {
  display: block;
}

// @media (min-width: 800px) {
//   body {
//     background-color: #231f10;
//   }
// }
// 480px, 768px 1200px
