// section section--no-top-padding{ @media (max-width: 767px){ display: none;}}
.works {
  display: flex;
}
.works__item:not(:last-child) {
  margin-right: 30px;
}
.works__link {
  position: relative;
  width: 370px;
  height: 294px;
}
.works__description {
  position: absolute;
  bottom: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 70px;
  background: rgba(47, 48, 58, 0.8);
}
.works__title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
}
